extends layout

block content
    h1 Sync
    
    h2= message
    h3= serverTime
    
    form(name="login", action="/sync", method="post")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      input(type="submit", value="Login With GitHub")